<ion-content class="ion-padding">

  <topo-login></topo-login>


  <form [formGroup]="loginForm" (submit)="register()">
    <ion-item>
      <ion-icon color="if" slot="start" name="user"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autfocus="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon color="if" slot="start" name="user"></ion-icon>
      <ion-input formControlName="snome" type="text" placeholder="Sobrenome" autfocus="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon color="if" slot="start" name="mail"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Digite seu email" autfocus="true"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon color="if" slot="start"  name="lock-closed-outline"></ion-icon>
      <ion-input formControlName="senha" type="password" placeholder="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="if" slot="start"  name="lock-closed-outline"></ion-icon>
      <ion-input formControlName="confirm_senha" type="password" placeholder="senha"></ion-input>
    </ion-item>
  
    <ion-button [disabled]="loginForm.invalid" id="btn-login" type="submit" expand="block" fill="solid" color="dark">
      Cadastrar
    </ion-button>
  </form>
  
 
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" expand="block" fill="clear" shape="round">
        Voltar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>