<ion-content class="ion-padding">

  <topo-login></topo-login>


  <form [formGroup]="loginForm" (submit)="validar()">
    <ion-item>
      <ion-icon color="if" slot="start" name="mail"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="Digite seu email" autfocus="true"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon color="if" slot="start"  name="lock-closed-outline"></ion-icon>
      <ion-input formControlName="senha" type="password" placeholder="senha"></ion-input>
    </ion-item>
  
    <ion-button [disabled]="loginForm.invalid" id="btn-login" type="submit" expand="block" fill="solid" color="dark">
      Enviar
    </ion-button>
  </form>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/forgot']" expand="block" fill="clear" shape="round">
        Esqueci minha senha
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" expand="block" fill="clear" shape="round">
        Cadastrar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
